div.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px - 40px); /* Adjust based on your header and footer height */
}

div.register-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
